<ion-toolbar>
  <ion-title>Ankiety</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button name="menu"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <!-- <ion-item>
    <ion-label>Basic Item</ion-label>
  </ion-item> -->

  <div id="container">
    <section id="surv1">
      <h3>Czy przekładamy sprawdzian z matematyki?</h3>
      <ion-segment color="medium" value="success">
        <ion-segment-button value="success">
          <ion-label>TAK</ion-label>
        </ion-segment-button>
        <ion-segment-button value="segment">
          <ion-label>NIE</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-button color="dark" (click)="animate()">Zagłosuj</ion-button>
    </section>
  </div>

  <div class="voted" [class.animate]="voted">Twój głos został oddany</div>
</ion-content>
