#container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .surv1 {
    background-color: rgb(37, 37, 37);
    margin: auto;
    width: 96%;
    padding: 0px;
    margin-top: 10px;
    border-radius: 10px;
    
  }

  .surv2{
    width: 100%;
    height: 100%;
    padding: 1px;
    margin: 0;
  }

  h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  ion-button {
    display: block;
    margin-top: 15px;
  }
  
  ion-item{
    width: 100%;
  }

  // ion-checkbox{
  //   width: 10%;
  //   margin-left: 90%;
  //   right: 0;
  // }