<ion-header>
  <ion-toolbar>
    <ion-title>Zbiórki</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button name="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <div id="container">
    <section id="surv1">
      <h3>Prezent dla nauczycieli(20zł)</h3>
      <ion-segment color="medium" value="success">
        <div style="display: block; width: 500px; height: 50px; border:1px white solid;">
          <p>14/21</p>
        </div>
      </ion-segment>
      <ion-button color="dark">Wpłacili: <ion-select id="select-fundraisers" multiple="multiple">
        <ion-select-option>Jan Kowalski</ion-select-option>
        <ion-select-option>Anna Nowak</ion-select-option>
        <ion-select-option>Marcin Wiśniewski</ion-select-option>
        <ion-select-option>Katarzyna Wójcik</ion-select-option>
        <ion-select-option>Michał Kaczmarek</ion-select-option>
        <ion-select-option>Magdalena Lewandowska</ion-select-option>
        <ion-select-option>Piotr Dąbrowski</ion-select-option>
        <ion-select-option>Zofia Jankowska</ion-select-option>
        <ion-select-option>Grzegorz Woźniak</ion-select-option>
        <ion-select-option>Alicja Mazur</ion-select-option>
        <ion-select-option>Wojciech Kowalczyk</ion-select-option>
        <ion-select-option>Marta Szymańska</ion-select-option>
        <ion-select-option>Łukasz Pawlak</ion-select-option>
        <ion-select-option>Barbara Nowakowska</ion-select-option>
        <ion-select-option>Adam Piotrowski</ion-select-option>
        <ion-select-option>Ewa Michalska</ion-select-option>
        <ion-select-option>Jakub Adamczyk</ion-select-option>
        <ion-select-option>Natalia Sikorska</ion-select-option>
        <ion-select-option>Tomasz Zielinski</ion-select-option>
        <ion-select-option>Monika Krajewska</ion-select-option>
      </ion-select></ion-button>
    </section>
  </div>
</ion-content>