<ion-header>
  <ion-toolbar>
    <ion-title>Zbiórki</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button name="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list [inset]="true">

    <section class="surv1" *ngFor="let item of items; let i = index" >
      
      <div class="surv2" (click)="toggleVotes(i)">
        <h3>{{item.name}}</h3>
        <h3>1/3</h3>
      </div>
      

      
        
        <ion-list *ngIf="isOpen[i]">
          
          <ion-item *ngFor="let student of item.students; let i = index">
            
            {{ student }} <ion-checkbox slot="end" [(ngModel)]="item.votes[i]"></ion-checkbox>
            
          </ion-item>
        </ion-list>
      
    </section>

    

    
  </ion-list>
      
</ion-content>