<ion-header>
  <ion-toolbar>
    <ion-title>Szkolne ogłoszenia</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button name="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h3>Najnowsze</h3>
    <section>
      <h4>Planowane spotkanie</h4>
      <h5>Spotkanie z podróżnikiem - Egipt</h5>
      <p class="data">11.02.2025 r.</p>
    </section>

    <section>
      <h4>Lekcje odwołane</h4>
      <h5>
        Z powodu wykrytego przypadku zarażnienia Covid-19. Uczniowie mają udać
        się bezpiecznie do domów.
      </h5>
      <p class="data">08.04.2025 r.</p>
    </section>

    <section>
      <h4>Znaleziono telefon</h4>
      <h5>Więcej informacji w sekretariacie szkolnym</h5>
      <p class="data">22.04.2025 r.</p>
    </section>
  </div>
</ion-content>
