<ion-header>
  <ion-toolbar>
    <ion-title>Samorząd</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button name="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
 

  <div id="container">
    <section id="surv1">
      <h3>Przewodniczący:</h3>
      <ion-select>
        <ion-select-option>Jan Kowalski</ion-select-option>
        <ion-select-option>Marek Sobuś</ion-select-option>
        <ion-select-option>Krystian Baran</ion-select-option>
      </ion-select>
      <ion-button color="dark">Zagłosuj</ion-button>
    </section>
    <section id="surv1">
      <h3>Skarbnik:</h3>
      <ion-select>
        <ion-select-option>Jan Kowalski</ion-select-option>
        <ion-select-option>Marek Sobuś</ion-select-option>
        <ion-select-option>Krystian Baran</ion-select-option>
      </ion-select>
      <ion-button color="dark">Zagłosuj</ion-button>
    </section>
  </div>
</ion-content>