<ion-header>
  <ion-toolbar>
    <ion-title>Wycieczki</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button name="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <section>
      <h4>Wycieczka w Bieszczady</h4>
      <h5>
        Organizowana jest klasowa wycieczka w Bieszczady na 3 dni cena wstępna -
        400zł. Wstępnie osoby chętne zachęcam do zgłoszenia się.
      </h5>
      <p class="data"><ion-checkbox>Chętny</ion-checkbox> 06.05.2025 r.</p>
    </section>

    <section>
      <h4>Wycieczka do Pragi</h4>
      <h5>Chętnych zapraszamy do nauczyciela Jana Kowalskiego.</h5>
      <p class="data"><ion-checkbox>Chętny</ion-checkbox> 05.04.2025 r.</p>
    </section>
  </div>
</ion-content>
