<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title style="color: white; font-size: 20px;">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-title>Szkoła</ion-title>
        <ion-menu-toggle>
          <ion-item routerLink="/home" routerLinkActive="active-link">
            <ion-icon name="trophy" slot="start"></ion-icon>
            <ion-label>Konkursy</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/inbox" routerLinkActive="active-link">
            <ion-icon name="paper-plane" slot="start"></ion-icon>
            <ion-label>Ogłoszenia</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/inbox" routerLinkActive="active-link">
            <ion-icon name="file-tray-full" slot="start"></ion-icon>
            <ion-label>Dokumenty</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/outbox" routerLinkActive="active-link">
            <ion-icon name="library" slot="start"></ion-icon>
            <ion-label>Biblioteka</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-title style="margin-top: 10px;">Klasa</ion-title>
        <ion-menu-toggle>
          <ion-item routerLink="/spam" routerLinkActive="active-link">
            <ion-icon name="pie-chart" slot="start"></ion-icon>
            <ion-label>Ankiety</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/spam" routerLinkActive="active-link">
            <ion-icon name="cash" slot="start"></ion-icon>
            <ion-label>Zbiórki</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/spam" routerLinkActive="active-link">
            <ion-icon name="people" slot="start"></ion-icon>
            <ion-label>Samorząd</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/spam" routerLinkActive="active-link">
            <ion-icon name="bus" slot="start"></ion-icon>
            <ion-label>Wycieczki</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/spam" routerLinkActive="active-link">
            <ion-icon name="paper-plane" slot="start"></ion-icon>
            <ion-label>Ogłoszenia</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/inbox" routerLinkActive="active-link">
            <ion-icon name="book" slot="start"></ion-icon>
            <ion-label>Nauka</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
