<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-title>Szkoła</ion-title>
        <ion-menu-toggle>
          <ion-item routerLink="/inbox">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Konkursy</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/inbox">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Ogłoszenia</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/inbox">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Dokumenty</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/outbox">
            <ion-icon name="a" slot="start"></ion-icon>
            <ion-label>Biblioteka</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-title>Klasa</ion-title>
        <ion-menu-toggle>
          <ion-item routerLink="/spam">
            <ion-icon name="b" slot="start"></ion-icon>
            <ion-label>Ankiety</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/spam">
            <ion-icon name="b" slot="start"></ion-icon>
            <ion-label>Zbiórki</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/spam">
            <ion-icon name="b" slot="start"></ion-icon>
            <ion-label>Samorząd</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/spam">
            <ion-icon name="b" slot="start"></ion-icon>
            <ion-label>Wycieczki</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/spam">
            <ion-icon name="b" slot="start"></ion-icon>
            <ion-label>Ogłoszenia</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/inbox">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Nauka</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
