<ion-header>
  <ion-toolbar>
    <ion-title>Klasowe ogłoszenia</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button name="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h3>Najnowsze</h3>
    <section>
      <h4>Operacja "Aufwiedersehen"</h4>
      <h5>Znikamy z niemieckiego.</h5>
      <p class="data">03.02.2025 r.</p>
    </section>

    <section>
      <h4>Hackathon</h4>
      <h5>Ten kto jedzie na Hackathon w sobote to zgody na jutro.</h5>
      <p class="data">05.04.2025 r.</p>
    </section>

    <section>
      <h4>Dzień bez pytania</h4>
      <h5>Pamiętajcie, że jutro wyjątkowo nie pytają</h5>
      <p class="data">19.04.2025 r.</p>
    </section>
  </div>
</ion-content>
