<ion-header>
  <ion-toolbar>
    <ion-title>Nauka</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button name="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-button id="createChall">Stwórz wyzwanie</ion-button>
    <h3>Aktualne wyzwania:</h3>
    <div class="activeChallenge">
      <p id="data">10.01.2025 r.</p>
      <h4>Angielski</h4>
      <h5>(17 / 28 osób)</h5>
      <h5 id="hh">Słówka, dział III</h5>
      <ion-button color="dark">Dołącz</ion-button>
    </div>
    <div class="activeChallenge">
      <p id="data">23.01.2025 r.</p>
      <h4>Historia</h4>
      <h5>(25 / 28 osób)</h5>
      <h5 id="hh">Średniowiecze</h5>
      <ion-button color="dark">Dołącz</ion-button>
    </div>
  </div>
</ion-content>
