<ion-header>
  <ion-toolbar>
    <ion-title>Konkursy</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button name="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h3>Najnowsze</h3>
    <section>
      <h4>Konkurs plastyczny "SzareBarwy"</h4>
      <h5>01.02.2025 r. - wykonaj zdjęcie w odcieniach...</h5>
    </section>

    <section>
      <h4>Konkurs matematyczny "Kangur"</h4>
      <h5>01.02.2025 r. - matematyczno-logiczny...</h5>
    </section>

    <section>
      <h4>Konkurs polonistyczny</h4>
      <h5>17.04.2025 r. - test z wiedzy literackiej...</h5>
    </section>

    <section>
      <h4>Geografia - powiat Leżajski</h4>
      <h5>06.05.2025 r. - przygotuj sie na test wiedzy...</h5>
    </section>
  </div>
</ion-content>
